body {
    margin: 0;
    padding: 0;
    background-color:white;
}
.top-navbar {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    background-color: #222;
    padding: 20px 20px;
    margin: 0;
}
.top-navbar li {
    margin-left: 20px;
}
.top-navbar a {
    text-decoration: none;
    color: #ddd;
    font-size: 14px;
    transition: color 0.3s;
    font-family:helvetica;
}

.top-navbar a:hover {
    color: #fff;
}
.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color:white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display:inline-block;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
    border-radius: 5px;
    font-family:helvetica;
}

.navbar a:hover {
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .top-navbar {
        justify-content: center;
    }        
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        margin: 10px 0;
    }
}
h1{ color:black;
    text-align:center;
}
h2{
    color:black;
    text-align:left;
    margin-left:20px;
    font-family:helvetica;
}
p{
    color:black;
    font-size:18px;
    margin-left:20px;
    font-family:Cambria;

}
.cards{
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:0;
}
.casodeuso{
    display:block;
    margin-left:300px;
    padding:0;
    width:75%;
}
footer{
    color:grey;
    text-align:center;
    display:block;
    position:absolute;
    bottom:0;
    width:100%;
    height: 2.5rem;

}

